html
	head
		title Hello lads
	body
		form(name="details", action="/api/addFilm", method="post")
			label Name:  
			input(type="text", style="width:300")
			br
			h3 Info:  
			label Rating:  
			input(type="text", style="width:300")
			br
			label Year:  
			input(type="text", style="width:300")
			br
			label Cast1:  
			input(type="text", style="width:300")
			br
			label Cast2:  
			input(type="text", style="width:300")
			br
			label Cast3:  
			input(type="text", style="width:300")
			br
			label Cast4:  
			input(type="text", style="width:300")
			br
			label Cast5:  
			input(type="text", style="width:300")
			br
			label Cast6:  
			input(type="text", style="width:300")
			br
			br
			label Picture URL:  
			input(type="text", style="width:500")
			h3 Trivia:
			label Genre:  
			input(type="text", style="width:300")
			br
			label Time:  
			input(type="text", style="width:300")
			br
			label Description:  
			textarea(rows='4', cols='50')
			br
			br
			label Subtitles:  
			textarea(rows='15', cols='50')
			br
			br
			br
			input(type="submit", value="Go for it Tom!")